@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import './base.css';
@import 'tailwindcss';
@import './theme.css';

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#app {
  font-family: var(--font-jakarta);
  background-color: var(--color-gray-light);
  height: 100%;
}
